In [ ]:
Understanding the variable in python

In [3]:
x=3
y=2

In [4]:
x+y

5

In [ ]:
#Rules for declaring the variables in python:
    1. Rule No 1: A variable name should not contain any namespaces.... examples

In [ ]:
first name='faiyaz'

In [12]:
print(first name)

SyntaxError: invalid syntax (<ipython-input-12-23d0c6741a33>, line 1)

In [ ]:
# so follow the rule no 1, means no space

In [16]:
firstname='faiyaz'

In [17]:
print(firstname)

faiyaz

In [18]:
first_name='faiyaz'

In [19]:
print(first_name)

faiyaz

In [20]:
firstname1='majidhashim'

In [21]:
print(firstname1)

majidhashim

In [24]:
# Rule No 2: A variable name should not start with a number *** Important point example..

In [ ]:
1name='ravi'

In [26]:
print(1name)

SyntaxError: invalid syntax (<ipython-input-26-5648e834bf2c>, line 1)

In [27]:
name1='ravi'

In [28]:
print(name1)

ravi

In [29]:
# Rule No 3: A variable name should not contain any spacial characters. example $ @ & ! Â£

In [ ]:
name@='joseph'

In [30]:
print(name@)

SyntaxError: invalid syntax (<ipython-input-30-0a2c37fe31a9>, line 1)

In [ ]:
# Introduction to datatypes in python:
1. string = str (It will be written as)
2. numbers =int (integars and float(decimals))
3. list   = list
4. tuple = tuple
5. dictionaries = dict

# Classification of datatypes:Data types are broadly classified into two catagories:
1. mutable datatype ===> which we can edit (or) alter = flexible data
2. immutable datatype ===> which we cannot edit (or) alter = fixed data

In [ ]:
# Introduction to string datatype:
1. Defination = A string is series of characters decalared in quotes.
2. Classification = It is classified as an immutable data type (fixed datatype)

how to declare the string data type ====> 3 possible options for declaring the string
1. single quote
2. double quote
3. triple quote
Example:

In [33]:
name='john'  #single quote

In [34]:
print(name)

john

In [35]:
name2=''swathi''   #double quote

In [37]:
print(name2)

swathi

In [38]:
name3='''john'''   #triple quote

In [39]:
print(name3)

john

In [40]:
# hash is used for commenting the code......!   hash is comment but not code

In [41]:
# Every cell will try to rad as code

In [42]:
# shift + enter botton together for execute

In [43]:
# 2. Introduction to string methods: Built in program/methods develop in python

In [44]:
type(name)

str

In [45]:
type(name2)

str

In [46]:
type(name3)

str